@model FirstMVCApp.Models.Author

@{
    ViewData["Title"] = "NewAuthor";
}

<h1>NewAuthor</h1>

<h4>Author</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SaveAuthor">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AuthorID" class="control-label"></label>
                <input asp-for="AuthorID" class="form-control" />
                <span asp-validation-for="AuthorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorName" class="control-label"></label>
                <input asp-for="AuthorName" class="form-control" />
                <span asp-validation-for="AuthorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorDOB" class="control-label"></label>
                <input asp-for="AuthorDOB" class="form-control" />
                <span asp-validation-for="AuthorDOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numberofbook" class="control-label"></label>
                <input asp-for="Numberofbook" class="form-control" />
                <span asp-validation-for="Numberofbook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorRoyalty" class="control-label"></label>
                <input asp-for="AuthorRoyalty" class="form-control" />
                <span asp-validation-for="AuthorRoyalty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

