@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> <a href="HOSPITAL">XXXX HOSPITAL</a>.</p>
</div>
<div>
    <a href="Doctor">Doctor List</a>
</div>
<div>
    <a href="Patient">Patient List</a>
</div>
